
<h1> App Angular </h1>
<nav>
    <a routerLink ="inicio" routerLinkActive="activebutton" class="button">Inicio</a>
    |
    <a routerLink ="primero" routerLinkActive="activebutton" class="button"> Primero </a>
    |
    <a [routerLink] ="['segundo',10,20]" routerLinkActive="activebutton" class="button"> Segundo</a>
    |
    <a [routerLink] ="['form-plantilla']" routerLinkActive="activebutton" class="button">Form Plantilla</a>
    |
    <a [routerLink] ="['form-reactivo']" routerLinkActive="activebutton" class="button">Form Reactivo</a>
    |
    <a [routerLink] ="['pipe']" routerLinkActive="activebutton" class="button">Pipe</a>
    |
    <a [routerLink] ="['directiva']" routerLinkActive="activebutton" class="button">Directiva</a>

</nav>
<router-outlet />
