<h2>  Datos del Usuario</h2>

<form [formGroup]="usuarioForm" (ngSubmit)="guardar()" >
    <label>Nombre :</label>
    <input type="text" formControlName="nombre">
    <br>
    <label>Apellido :</label>
    <input type="text" formControlName="apellido">
    <br>
    <div formArrayName="direccion">
     <label>Ciudad :</label>
    <input type="text" formControlName="ciudad">
    <br>
    <label> Departamento :</label>
    <input type="text" formControlName="departamento">
    </div>
    <br>
    <button type="button" (click)="actualizar()" >Actualizar</button>
    <button type="submit" [disabled]="!usuarioForm.valid" >Guardar</button>

</form>



